
OLD/4k_24/

OLD/4k_48/

OLD/4k_72/

OLD/8k_120/

8k_16/

8k_24/

8k_32/

OLD/8k_72/

OLD/8k_96/

data/

8k_120/

8k_120_b/

8k_72/

8k_72_b/

8k_96/

8k_96_b/

4k_24/

4k_24_b/

4k_48/

4k_48_b/

4k_72/

4k_72_b/

plots/
/4k_10k/
/4k_10k_b/
/4k_20k/
/4k_20k_b/
/4k_30k/
/4k_30k_b/
/4k_40k/
/4k_40k_b/
/4k_50k/
/4k_50k_b/
/4k_60k/
/4k_60k_b/
/4k_70k/
/4k_70k_b/
/4k_80k/
/4k_80k_b/
/avgplots/
/data/
/hockneyData/
/medianplots/
/oneRank/

gapMeasure/

gapMeasureBig/
